<!DOCTYPE html>
<html>
  <head>
    <title>Who owns this car?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="../styles/style.css">

  </head>
  <body>
    <div class="container">
      <h1>Testing</h1>
      {{#each users}}
        <li>{{name}} ({{phone}})</li>
      {{/each}}
    </div>
  </body>
</html>
