<!DOCTYPE html>
<html>
  <head>
    <title>Who owns this car?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="../styles/style.css">

  </head>
  <body>
    <div class="container">
      <h1>Testing</h1>

      <form class="" action="/insert" method="get">
      <label for="name">Name</label>
      <input type="text" name="name" >

      <label for="phone">Phone Number</label>
      <input type="text" name="phone">

      <label for="numberPlate">Number Plate</label>
      <input type="text" name="numberPlate">

      <label for="location">Location</label>
      <input type="text" name="location">

      <button value="submit" >Sumbit</button>


    </div>
  </body>
</html>
