<!DOCTYPE html>
<html>
  <head>
    <title>Who owns this car?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/styles.css" type="text/css">

  </head>
  <body>
    <div class="container">
      <header>
        <h1><a href="/">D<span class="eda">EDA</span>L PARKING</a></h1>
      </header>

      <h1>Register</h1>
      <section class="registration">
        <form class="" action="registerUser" method="post">
          <label for="username">Login: </label>
          <input type="text" name="username">
          <label for="password">Password: </label>
          <input type="text" name="password">
          <label for="name">Name: </label>
          <input type="text" name="name">
          <label for="phone">Phone: </label>
          <input type="text" name="phone" value="+64">
          <label for="location">Location: </label>
          <select name="location">
            <option value="Tahi - L1 Event Space">Tahi - L1 Event Space</option>
            <option value="Rua - L2 EDA Staff Office">Rua - L2 EDA Staff Office</option>
            <option value="Toru - L2 Room besides Kitchen">Toru - L2 Room besides Kitchen</option>
            <option value="Wha - GL 1st Office">Wha - GL 1st Office</option>
            <option value="Rima - GL 2nd small Office">Rima - GL 2nd small Office</option>
            <option value="Ono - L0 Dark Room">Ono - L0 Dark Room</option>
            <option value="Whitu - L0 Transit Lounge">Whitu - L0 Transit Lounge</option>
            <option value="Waru - L0 Quiet Room">Waru - L0 Quiet Room</option>
            <option value="IWA - L0 Lecture Theatre">IWA - L0 Lecture Theatre</option>
            <option value="Te Kau - L0 Wellbeing Room">Te Kau - L0 Wellbeing Room</option>
          </select>
          <label for="rego">Car Registration Number: </label>
          <input type="text" name="rego">
          <br>
          <button type="submit" name="submit">Register</button>
        </form>
    </div>
  </body>
</html>
