<!DOCTYPE html>
<html>
  <head>
    <title>Who owns this car?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="/styles.css" type="text/css">

  </head>
  <body>
    <div class="container">
      <header>
        <h1>Parking</h1>
      </header>

      <h1>Register</h1>
      <section class="registration">
        <form class="" action="registerUser" method="post">
          <label for="username">Login: </label>
          <input type="text" name="username">
          <label for="password">Password: </label>
          <input type="text" name="password">
          <label for="name">Name: </label>
          <input type="text" name="name">
          <label for="phone">Phone: </label>
          <input type="text" name="phone" value="+64">
          <label for="location">Location: </label>
          <input type="text" name="location">
          <label for="rego">Car Registration Number: </label>
          <input type="text" name="rego">
          <br>
          <button type="submit" name="submit">Register</button>
        </form>
    </div>
  </body>
</html>
