<!DOCTYPE html>
<html>
  <head>
    <title>Who owns this car?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Passion+One:700" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" type="text/css">

  </head>
  <body>
    <header>
      <h1><a href="/">D<span class="eda">EDA</span>L <span class="parking">parking</span></a></h1>
      <div>
        <form class="login-form" action="login" method="post">
          <input type="text" name="username" placeholder="login">
          <input type="text" name="password" placeholder="password">
          <button type="submit" name="button">Login</button>
        </form>
        <form class="register-form" action="/register" method="get">
          <button type="submit" name="update">Register</button>
        </form>
      </div>
    </header>
      <p>A text was sent to the car owner</p>
    </div>
  </body>
</html>
