<!DOCTYPE html>
<html>
  <head>
    <title>Who owns this car?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">

  </head>
  <body>
    <header>
      <h1>Parking</h1>
        <form action="/register" method="get">
          <button type="submit" name="update">Register</button>
        </form>
      <form class="" action="/login" method="post">
        <input type="text" name="login" placeholder="login">
        <input type="text" name="password" placeholder="password">
        <button type="submit" name="button">Login</button>
      </form>
    </header>
      <p>A text was sent to the car owner</p>
    </div>
  </body>
</html>
