
    body {
      background: white;
    }

    header {
      height: 11%;
      padding: 20px;
      color: white;
      background-color: black;
      border: 1px solid black;
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    header div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    header button {
      background-color: #cbcbcb;
    }

    header a {
      font-size: 10rem;
      text-decoration: none;
      color: white;
      font-family: 'Passion One';
    }

    header form {
      padding-right: 40px;
    }

    header a .eda {
      font-size: 8rem;
      color: #e1493b;
      font-family: 'Passion One';
    }

    header a .parking {
      font-size: 8rem;
      color: #cbcbcb;
      font-family: 'Lobster';
    }

    .dataInput {
      margin-top: 11px;
      display: flex;
    }

    .dataInput button {
      color: white;
      border: 1px solid white;
    }

    .dataInput button:hover {
      color: black;
      border: 1px solid black;
    }

    .profile-card {
      width: 100%;
      background-color: white;
      padding: 15px;
      margin: 20px 0px;
      border: 2px solid black;
      border-radius: 20px;
    }

    .profile-card p {
      font-size: 2em;
    }

    .container{
      height:600px;
      background: white;
    }

    .car {
      position: relative;
    }

    /*#searchCar {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }*/

    .car form {
      position: absolute;
      text-align: center;
      top: 60%;
      left: 34%;
    }

    #searchCar input {
      display: block;
      width: 15rem;
      margin-bottom: 10rem;
    }

    #searchCar button {
      margin: 10px;
      background: #e1493b;
      color: white;
    }

    .qrcode {
      text-align: center;
    }

    #qrImage {
      margin-left: 39px;
    }

    .container img {
      height: 80rem;
      width: 80rem;
    }

    .car .error {
      font-size: 3rem;
      position: absolute;
      text-align: center;
      color: #e1493b;
      top: 30%;
      left: 22%;
    }
    /* Print page */
  @page { size: landscape; }
