
    body {
      background: white;
    }

    header {
      height: 11%;
      padding: 15px;
      color: white;
      background-color: steelblue;
      border: 1px solid steelblue;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .dataInput {
      margin-top: 11px;
      display: flex;
    }

    .dataInput button {
      color: white;
      border: 1px solid white;
    }

    .dataInput button:hover {
      color: black;
      border: 1px solid black;
    }

    .profile-card {
      width: 100%;
      background-color: white;
      padding: 15px;
      margin: 20px 0px;
      border: 2px solid black;
      border-radius: 20px;
    }

    .profile-card p {
      font-size: 2em;
    }

    .container{
      height:600px;
      background: white;
    }

    #searchCar {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #searchCar input {
      display: block;
      width: 300px;
      margin: 10px;
    }

    #searchCar button {
      margin: 10px;
      background: navy;
      color:white;
    }

    .qrcode {
      text-align: center;
    }

    #qrImage {
      margin-left: 39px;
    }


    /* Print page */
  @page { size: landscape; }
